Imported pandas library and necessary methods from a shared module

In [22]:
import pandas as pd
from lib import find_mean, find_median, find_std, create_graph

ImportError: cannot import name 'create_graph' from 'lib' (/workspaces/IDS706_Individual_Project1_KM632/lib.py)

Since early 2000s Mongolain government started providing tuition assistance programs to high school students who are accepted to the top 100 universities in the world. The government paid for all educational expenses including tuition and boarding. This data set contains the list of students who benefitted from the program and how much monetary assistance they received. 

First 5 columns are shown to give an overview of what the dataset looks like.

In [ ]:
df = pd.read_excel('raw.xlsx')
new_column_names = {'Эцэг /эх/-ийн нэр / Өөрийн нэр': 'First and Last Name', 'Суралцаж байгаа улс': 'School Country', 'Сургуулийн нэр': 'School Name', 'Мэргэжил':'Intended Major', 'Суралцах хугацаа': 'Study Duration(in years)', 'Олгосон санхүүжил':'Loan Amount(in USD)'}
df.rename(columns=new_column_names, inplace=True)
pd.set_option('display.width', 1000)
print(df.head(5))

         First and Last Name School Country                            School Name      Intended Major  Study Duration(in years)  Loan Amount(in USD)
0          Батцэнгэл  Цацрал            АНУ                             Мичиган ИС             Инженер                       4.0            289225.50
1  Төмөрбаатар  Эрдэнэжаргал            АНУ  Массачусетс ИС-Жоржийн технологийн ИС  Химийн инженерчлэл                       5.0            259284.00
2       Буянхүү  Лувсанбямба            АНУ                  Калифорниа ИС Беркели     Компьютерийн ШУ                       4.0            252756.00
3            Доржпүрэв  Болд            АНУ                  Пенсилван ИС- Жорж ТИ             Инженер                       4.0            245297.00
4         Ганбаатар Ундармаа            АНУ                             Мичиган ИС        Цөмийн физик                       4.0            241999.55

Analyze the basic statistics

In [ ]:
mean = find_mean(df)
median = find_median(df)
std = find_std(df)
print("Mean:", mean)
print("Median:", median)
print("Standard deviation:", std)

Mean: $117,340.00
Median: $116,481.00
Standard deviation: $54,692.00

In [23]:
create_graph(df)

NameError: name 'create_graph' is not defined